{% extends 'home.html' %}

{% block content %}
    <style>
        #searchbox{
            width: 100%;
            background-color: #dedede;
        }
        .s-btn {
            border: none;
            background: #6c6cff;
            color: white;
            width: 14vw;
            height: 5vw;
            font-size: 2.5vw;
            border-radius: .6vw;
        }

        #s1-input {

            height: 4.4vw;
            padding: 1vw;
            font-size: 2.6vw;
            color: gray;
            margin: 2vw;
            width: 80vw;
        }

        #friend {
            border: .3vw solid #d1d1d1;
            margin: 2vw;
            padding: 1vw;
            font-size: 2.8vw;
            overflow: auto;
            border-radius: .3vw
        }
        #sent_request{
            border: .3vw solid #d1d1d1;
            margin: 2vw;
            padding: 1vw;
            font-size: 2.8vw;
            overflow: auto;
            border-radius: .3vw
            
        }
        .friend_request{
            border: .3vw solid #d1d1d1;
            margin: 2vw;
            padding: 1vw;
            font-size: 2.8vw;
            overflow: auto;
            border-radius: .3vw

        }
        .friendr{
            margin: 3vw 0vw;
            background-color: #dedede ;
        }
        .friendr span{
            font-family:  sans-serif;
            margin-left: 2vw;
            font-size: 3vw;
            color: #5c5a56;

        }

        #req {
            background-color: rgb(6, 148, 25);
        }
        .reject{
            border: none;
            color: white;
            width: 14vw;
            height: 5vw;
            font-size: 2.5vw;
            border-radius: .6vw;
            background-color: rgb(206, 31, 31);
        }
        .accept {
            border: none;
            color: white;
            width: 14vw;
            height: 5vw;
            font-size: 2.5vw;
            border-radius: .6vw;
            background-color: rgb(6, 148, 25);
        }
        #cancel{
            background-color: rgb(185, 185, 185);
        }
        .message{
            border: none;
            width: 14vw;
            height: 5vw;
            font-size: 2.5vw;
            border-radius: .6vw;
            background-color: rgb(36, 129, 129);
            color: white;
        }
        #name {
            width: 69vw;
            display: inline-block;
            color: rgb(100, 100, 100);
            padding-left: 5vw;
        }
    </style>
    <form id='searchbox' action="." method="POST">
        {% csrf_token %}
        <input id="s1-input" type="number" name="friend" placeholder="Search Friend">
        <input class="s-btn" type="submit" value="Search">
    </form>

    <div>
        {% for message in messages %}
        <h5 style=color:red;>Error: {{message}}</h5>
        {% endfor %}
    </div>

    <div id="friend">
        <span id="name">{{friend.first_name}} {{friend.last_name}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{friend.username}}</span>
        <button id="req" class="s-btn">Request</button>
    </div>

<div class="friendr">
    <span>Friend Request</span>
    {% for i in friend_request %}
    <div class="friend_request">
        <span style="width: 54.3vw;" class="name" id="name">{{i.first_name}} {{i.last_name}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fusername">{{i.username}}</span></span>
        <button class="reject">Reject</button>
        <button class="accept">Accept</button>
    </div>
    {% endfor %}
</div>
<div class="friendr"><span>Sent Request</span></div>
   
    {% for i in sent_request %}
    <div id="sent_request">
        <span id="name">{{i.first_name}} {{i.last_name}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{i.username}}</span>
        <button id="cancel" class="s-btn">Cancel</button>
    </div>
    {% endfor %}

    <div class="friendr"><span>Friends</span></div>

    {% for i in friend_list %}
    <form action="{% url 'chats' %}">
        <input type="hidden" name="id" value="{{i.id}}">
    <div class="sendmessage" id="sent_request">
        <span style="width: 53vw;" class="name" id="name">{{i.first_name}} {{i.last_name}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="musername">{{i.username}}</span></span>
        <button type="submit" class="message" >Message</button>
        <button id="cancel" style="border:.25vw solid rgb(116, 116, 116);background: none;color: Gray;" class="s-btn">Block</button>
    </div>
    </form>
    {% endfor %}




<script>
    friend = '{{friend.username}}'
    if(!friend){
        $('#friend').hide()
    }
    $('#req').click(function () {
        if (document.getElementById('req').innerText == 'Request') {

            
            console.log('ok')
            document.getElementById('req').style.backgroundColor = "rgb(207, 207, 207)"
            document.getElementById('req').innerText = 'Cancel'
            
            
            $.ajax({
                type: 'GET',
                url: "{% url 'send_request' %}",
                data: {
                    'first_name': '{{friend.first_name}}',
                    'id': '{{friend.id}}'
                },
                success: function (json) {
                    console.log(json.name)
                    window.location.reload()
                }
            })
        }
        else{
            document.getElementById('req').style.backgroundColor = "rgb(6, 148, 25)"
            document.getElementById('req').innerText = 'Request'

        }

    })
</script>
<script>
    $('.accept').click(function(){
        console.log('in')
        console.log($(this).parents('.friend_request').children('.name').children('.fusername').text())
        $.ajax({
            type: 'GET',
            url: "{% url 'accept_request' %}",
            data: {
                'id': $(this).parents('.friend_request').children('.name').children('.fusername').text(),
                'action': 'accept'
            },
            success: function (json) {
                console.log(json.name)
                window.location.reload()
            }
        })
    })

    $('.reject').click(function(){
        console.log('in')
        console.log($(this).parents('.friend_request').children('.name').children('.fusername').text())
        $.ajax({
            type: 'GET',
            url: "{% url 'accept_request' %}",
            data: {
                'id': $(this).parents('.friend_request').children('.name').children('.fusername').text(),
                'action': 'reject'
            },
            success: function (json) {
                console.log(json.name)
                window.location.reload()
            }
        })
    })
</script>

<script>
/* 
  $('.message').click(function(){
   
        $.ajax({
            type: 'GET',
            url: "{% url 'chats' %}",
            
            data: {
                'username': $(this).parents('.sendmessage').children('.name').children('.musername').text()
            }
        })
    })
*/
</script>

{% endblock  %}