<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 5vw;">
<h1>Hello, {{user.first_name}}</h1>
    <h2>Login</h2>
    <div>
        {% for message in messages %}
        <h5 style=color:green>{{message}}</h5>
        {% endfor %}
    </div>
<form action="." method="POST">
    {% csrf_token %}
    <input type="number" max name="number" id="" placeholder="Number"><br><br>

    <input type="password" name="password" id="" placeholder="Password"><br><br>
    <input type="submit" value="Login">
</form>
</body>
</html>