{% extends 'home.html' %}

{% block content %}
<style>
#registration{
    padding: 5vw;
}
</style>

<div id="registration">
    <div class="box">
        <h2 class='register' >Register</h2>
            <form action="." method="POST">
                {% csrf_token %}

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First Name</label>
    <input type="email" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <label for="exampleInputEmail1" class="form-label">Last Name</label>
    <input type="email" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <label for="exampleInputEmail1" class="form-label">Mobile No.</label>
    <input type="email" name="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password1" class="form-control" id="exampleInputPassword1">
    <label for="exampleInputPassword1" class="form-label">Comform Password</label>
    <input type="password" name="password2" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Sing Up</button>
</form>
    </div>
        <div>
            {% for message in messages %}
            <h5 style=color:red>Error: {{message}}</h5>
            {% endfor %}
        </div>

        <script >
        document.querySelector('.register').textContent = 'Sign Up!';

        </script>

</div>

{% endblock  %}